body {
  font-family: "Times New Roman", system-ui;
  font-size: 14px;
  text-align: center;
}
table, td, tr, th {
    border-collapse: collapse;
    border: 0.1px solid black;
}
.task {
    padding: 2px 2px 2px 2px;
    border-collapse: collapse;
    border: 1px solid black;
    display: grid;
    grid-template-columns: max-content max-content max-content max-content max-content;
    grid-gap: 20px;
}
